<h1>Modelos de Produtos</h1>

<div>
  <%= link_to 'Cadastrar Novo', new_product_model_path %>
</div>

<% if @product_models.any? %>
  <% @product_models.each do | product_model | %>
    <div>
      <h3><%= link_to product_model.name, product_model %> </h3>
      <dl>
        <dt> SKU:  </dt>
        <dd> <%= product_model.sku %> </dd>
        <dt> Fornecedor: </dt>
        <dd> <%= product_model.supplier.brand_name %></dd>
      </dl>
    </div>
  <% end %>

<% else %>
  <p>Não existem produtos cadastrados</p>
<% end %>