<h2> Fornecedores </h2>
  <% @suppliers.each do | supplier | %>
    <div>
      <dl>
        <dt> Nome da Empresa:  </dt>
        <dd> <%= supplier.brand_name %> </dd>
        <dt> Cidade: </dt>
        <dd> <%= supplier.city %></dd>
      </dl>
    </div>
  <% end %>

<% if @suppliers.empty?%>
  <p> Não existem fornecedores cadastrados </p>
<% end %>